<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title th:text="#{finance.addItem.title}">addItem</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container mt-md-5">
    <h1 th:text="#{finance.addItem.title}">Finance Item hinzufügen</h1>

    <form method="post" role="form" id="form" th:action="@{/finance/addItem}" th:object="${form}">
        <div class="form-group">
            <label for="price">Preis</label>
            <input id="price" name="price" class="form-control" th:field="*{price}" th:errorclass="fieldError" type="number" step="0.01" required="required"/><br/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input id="description" class="form-control" name="description" th:field="*{description}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{finance.additem.submit}">hinfügen</button>
    </form>

</div>

<footer th:replace="fragments :: footer"></footer>

<script crossorigin="anonymous"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        th:src="@{/webjars/jquery/jquery.js}"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>