<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title th:text="#{users.edit.title}">Nutzerbearbeitung</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container mt-md-5">
    <h1 th:text="#{users.edit.title}">Nutzerbearbeitung</h1>
    <form method="post" id="editform" th:object="${editform}" th:action="@{/users/{id}(id=${staff.getId()})}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nachname</th>
                <th scope="col">Vorname</th>
                <th scope="col">Nutzername</th>
                <th scope="col">Gehalt/Monat in €</th>
                <th scope="col">Fähigkeiten</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="field">
                        <label>
                            <input th:id="lastName" th:name="lastName" th:errorclass="fieldError" type="text"
                                   required="required" th:value="${staff.lastName()}"/>
                        </label><br/>
                        <div class="alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                            <p>Name must not be empty.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="field">
                        <label>
                            <input th:id="firstName" th:name="firstName" th:errorclass="fieldError" type="text"
                                   required="required" th:value="${staff.getFirstName()}"/>
                        </label><br/>
                        <div class="alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                            <p>Name must not be empty.</p>
                        </div>
                    </div>
                </td>
                <td th:text="${staff.getUserName()}">pperters</td>
                <td>
                    <div class="field">
                        <label>
                            <input th:id="salary" th:name="salary" th:errorclass="fieldError" type="number"
                                   required="required" step="0.01" min="0" max="999999999999999" th:value="${staff.getSalary()}"/>
                        </label><br/>
                        <div class="alert-danger" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">
                            <p>Geben sie ein Gehalt ein.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="updateSkills" th:name="updateSkills" multiple>
                            <option th:each="service : ${services}" th:value="${service.name()}" th:selected="${staff.getSkills().contains(service)}"
                                    th:text="#{'users.service.' + ${service.name()}}">
                            </option>
                        </select>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" th:text="#{users.edit.save}">Änderungen übernehmen</button>
    </form>

    <h2 class="mt-5" th:text="#{users.edit.password.title}">Change Password</h2>
    <form th:object="${pwdform}" th:action="@{/users/password/{id}(id=${staff.getId()})}" action="users.html" method="post">
        <div class="alert alert-danger" role="alert" th:each="err : ${#fields.errors('*')}" th:text="${err}">
            Password cannot be empty.
        </div>

        <div class="form-group">
            <label for="password" class="sr-only" th:text="#{general.password}">Password</label>
            <input type="password" class="form-control" id="password" th:placeholder="#{general.password}" placeholder="Password" th:field="*{password}">
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{users.edit.password.title}">Change Password</button>
    </form>
</div>

<footer th:replace="fragments :: footer"></footer>

<script crossorigin="anonymous"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        th:src="@{/webjars/jquery/jquery.js}"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
