<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title th:text="#{finance.balance}">Financen</title>

</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container mt-md-5">

    <h1>Finance</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>

            <th scope="col">Value</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${finance}">
            <th scope="row" th:text="${item.Id}">1</th>

            <td th:text="${item.Value}">12.01.2019</td>
        </tr>
        </tbody>
    </table>


</div>






    <footer th:replace="fragments :: footer"></footer>

    <script crossorigin="anonymous"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.js}"></script>
    <script crossorigin="anonymous"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            th:src="@{/webjars/popper.js/umd/popper.js}"></script>
    <script crossorigin="anonymous"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>