<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title>navbar fragment</title>
</head>
<body>
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="index.html" th:text="#{general.projectname}" th:href="@{/}">Miss-Mint store management</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="receiving.html" th:text="#{orders.receiving}" th:href="@{/orders/receiving}">Receiving</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="orders.html" th:text="#{orders}" th:href="@{/orders}">Orders</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown" href="#" id="navbarDropdown" role="button" th:text="#{general.management}">
                        Verwaltung
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a class="dropdown-item" href="rooms.html" th:text="#{rooms}" th:href="@{/rooms}">Rooms</a>
                        <a class="dropdown-item" href="material.html" th:href="@{material}">Materials</a>
                        <a class="dropdown-item" th:text="#{finance.balance}" th:href="@{/finance}">Balance</a>
                        <a class="dropdown-item" href="orderItem.html" th:href="@{/orderItem}">Bestellgegenstände</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/users}">Nutzerverwaltung</a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="#" th:href="@{/login}" th:text="#{security.login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" th:href="@{/login}" th:text="#{security.logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer class="border-top mt-md-5 pt-sm-2" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-md-8">
                <strong th:text="#{general.brandname}">Miss Mint Mending Points</strong> - <em th:text="#{general.slogan}">Repairs cheap and easy</em>
            </div>
            <div class="col col-12 col-md-4">
                <span class="float-right">&copy;2019</span>
            </div>
        </div>
    </div>
</footer>

<script crossorigin="anonymous"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        th:src="@{/webjars/jquery/jquery.js}"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>