<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

	<title th:text="#{projectname}">Miss-Mint store management</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container mt-md-5">
	<h1 th:text="#{projectname}">Miss-Mint store management</h1>

	<p><strong th:text="#{index.pleaselogin}">Please log in to use the management software.</strong></p>

	<p>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
		dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
		clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
		consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
		diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
		takimata sanctus est Lorem ipsum dolor sit amet.
	</p>
</div>

<footer th:replace="fragments :: footer"></footer>

<script crossorigin="anonymous"
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		th:src="@{/webjars/jquery/jquery.js}"></script>
<script crossorigin="anonymous"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script crossorigin="anonymous"
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>