<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title>Materialien</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container mt-md-5">
    <h1>Materialien</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Menge</th>
            <th scope="col">Aktionen</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${material}">
                <td th:text="${item.product.name}"></td>
                <td th:text="${{item.quantity}}"></td>
                <td>
                    <form class="ui form" method="post" th:action="@{material/consume/{q}/{id}(id=${item.id},q=${item.quantity})}">
                        <button class="btn btn-primary" role="button" >Verbrauchen</button>
                    </form>

                    <form  class="ui form" method="post" th:action="@{material/restock/{q}/{id}(id=${item.id},q=${item.quantity})}">
                        <button class="btn btn-secondary"  role="button">Nachbestellen</button>
                    </form>
                </td>
            </tr>

        </tbody>
    </table>

</div>

<footer th:replace="fragments :: footer"></footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>