<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title th:text="#{orders}">Orders</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container mt-md-5">
    <h1>Aufträge</h1>

    <div class="card mt-2" th:each="order : ${orders}">
        <div class="card-header">
            <em>
                Blauer Frack
            </em>
            - <span th:text="${order.getId()}">8adfdf53-0e11-499f-af36-efbc9db8a7f9</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">Nähservice (Knöpfe)</h5>
            <div class="card-text">
                <table class="table table-borderless table-sm">
                    <tbody>
                    <tr>
                        <th scope="row">Eingang</th>
                        <td th:text="${order.getInbound()}">13.03.2019</td>
                    </tr>
                    <tr>
                        <th scope="row">Kunde</th>
                        <td th:text="${order.getCustomer()}">Mark Zuckerberg</td>
                    </tr>
                    <tr>
                        <th scope="row">Bearbeitung</th>
                        <td>in B103-E von Sebastian Müller</td>
                    </tr>
                    <tr>
                        <th scope="row">Materialien</th>
                        <td>Knopf, Faden</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>In Bearbeitung</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>

<script crossorigin="anonymous"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        th:src="@{/webjars/jquery/jquery.js}"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>