<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
           rel="stylesheet"  th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title>Bestellgegenstände</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container mt-md-5">
    <h1>Bestellgegenstände</h1>




    <form action="orderItem.html" method="post" th:if="${!orderItem.isEmpty()}" th:action="@{orderItem/remove}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Gegenstand</th>
        </tr>
        </thead>
        <tbody>
            <tr  th:name="orderItemId" th:each="item : ${orderItem}">
                <td th:text="${item.getName()}"></td>
                <td th:text="${item.getId()}"></td>

            </tr>
        </tbody>
    </table>
    </form>
</div>


<footer th:replace="fragments :: footer"></footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>