<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title th:text="#{users.registration.title}">User Registration</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container mt-md-5">
    <h1 th:text="#{users.registration.title}">User Registration</h1>

    <form method="post" role="form" id="form" th:action="@{/users/registration}" th:object="${form}">

        <h3 class="ui dividing header" th:text="#{users.registration.userdata}">User Data</h3>

        <div class="form-group">
            <label for="firstName" th:text="#{users.registration.firstname}">First Name</label>
            <input class="form-control" id="firstName" name="firstName" th:field="*{firstName}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                <p>The first name must not be empty.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName" th:text="#{users.registration.lastname}">Last Name</label>
            <input class="form-control" id="lastName" name="lastName" th:field="*{lastName}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                <p>The last name must not be empty.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="userName" th:text="#{users.registration.username}">User Name</label>
            <input class="form-control" id="userName" name="userName" th:field="*{userName}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="alert-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
                <p>The user name must not be empty.</p>
            </div>
        </div>

        <div class="form-group">
            <label th:text="#{users.registration.password}" for="password">Password</label>
            <input class="form-control" id="password" name="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                   required="required"/><br/>
            <div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                <p>Password must not be blank.</p>
            </div>
        </div>
        <div class="form-group">
            <label th:text="#{users.registration.salary}" for="salary">Salary</label>
            <input class="form-control" id="salary" name="salary" th:field="*{salary}" th:errorclass="fieldError" type="number"
                   required="required" min="0" max="999999999999999" step="0.01"/><br/>
            <p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Please enter a salary.</p>
        </div>

        <button class="btn btn-primary" type="submit" th:text="#{users.registration.submit}">Registrieren</button>
    </form>

</div>

<footer th:replace="fragments :: footer"></footer>

<script crossorigin="anonymous"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        th:src="@{/webjars/jquery/jquery.js}"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
