<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <title>Räume</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container mt-md-5">
    <h1>Räume</h1>

    <div class="card mt-2" th:each="room : ${rooms}">
        <div class="card-header">
            <h3 th:text="${room.name}"></h3>
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong th:text="${room.belegung}"></strong></h5>
        </div>
        <div class="card-footer text-muted">
            <div class = "btn-toolbar">
                <form method="post" th:action="@{/rooms/{room}/delete(room=${room.id})}">
                    <button class="btn btn-danger">Raum löschen</button>
                </form>
                <form method="post" th:action="@{/rooms/{room}/bookFreeSlot(room=${room.id})}">
                    <button class="btn btn-info">Slot Buchen</button>
                </form>

            </div>

        </div>
    </div>

    <br>
    <br>

    <form method="post" th:object="${form}" th:action="@{/rooms/add}">
    <div class="card mt-2">
        <div class="card-header">
            <h3>Raumname eingeben</h3>
            <input th:field="*{name}" type="text">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong>Dienstleistung eingeben</strong></h5>
            <input th:field="*{belegung}" type="text">
            <div th:if="${#fields.hasErrors('belegung')}" th:errors="*{belegung}"></div>
        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-info" type="submit">Hinzufügen</button>
        </div>
    </div>
    </form>


</div>
<div class="container mt-md-5">
    <h1>Belegplan</h1>

    <div class="card-group">
        <div class="card mt-sm-2" style="width: auto" th:each="entry : ${entries}">
            <div class="card-header" th:text="${entry.id}"></div>
            <div class="card-body">
                <h5 class="card-title" th:text="'Beginn: ' + ${entry.start}"></h5>
                <h5 class="card-title" th:text="'Ende: ' + ${entry.end}"></h5>
                <h5 class="card-title" th:text="${entry.booking}"></h5>
            </div>
            <div class="card-footer text-muted">
                <form method="post" th:action="@{/rooms/entries/{entry}/delete(entry=${entry.id})}">
                    <button class="btn btn-danger">Eintrag löschen</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <form method="post" th:object="${form}" th:action="@{/rooms/addEntry}">
        <button class="btn btn-info" type="submit">Eintrag hinzufügen</button>
    </form>
</div>

<div class="container mt-md-5">
    <h1>Freie Slots</h1>

    <form method="get" th:action="@{/rooms/listFreeSlots}">
        <button class="btn btn-info" type="submit">anzeigen</button>
        <div class="card-group">
            <div class="card mt-sm-2" style="width: auto" th:each="entry : ${entries}" th:if="${entry.booking.FREE}">   <!--TODO sortiert nicht aus, zeigt einfach alles an-->
                <div class="card-body">
                    <h5 class="card-title" th:text="'ID: ' + ${entry.id}"></h5>
                </div>
            </div>
        </div>
    </form>

</div>

</body>

<footer th:replace="fragments :: footer"></footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>