<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title>Auftragszettel</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container mt-md-5">
    <h1><span th:text="#{general.brandname}">Miss Mint Mending Point</span> <span th:text="#{orders.ticket}">Ticket</span></h1>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row" th:text="#{orders.ticket.id}">Order ID</th>
            <td th:text="${order.getId()}">bb46124d-aeb3-4d85-9f2f-db957b45cebb</td>
        </tr>
        <tr>
            <th scope="row" th:text="#{general.customer}">Customer</th>
            <td th:text="${order.getCustomer()}">Linus Torvalds</td>
        </tr>
        <tr>
            <th scope="row" th:text="#{orders.customer.item}">Customer Item</th>
            <td th:text="TODO">Linux</td>
        </tr>
        <tr>
            <th scope="row" th:text="#{general.price}">Price</th>
            <td th:text="${order.getTotal()}">1.54EUR</td>
        </tr>
        <tr>
            <th scope="row" th:text="#{orders.expectedfinished}">Expected Finishing Date</th>
            <td th:text="${order.getExpectedFinished()}">12.11.2019</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" th:text="#{general.print}">Print</button>
</div>

<footer th:replace="fragments :: footer"></footer>

<script crossorigin="anonymous"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        th:src="@{/webjars/jquery/jquery.js}"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>