<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <title>Auftragszettel</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container mt-md-5">
    <h1>Miss Mint Mending Point Auftragszettel</h1>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Auftragsnummer</th>
            <td th:text="${missMintOrder.getId()}">bb46124d-aeb3-4d85-9f2f-db957b45cebb</td>
        </tr>
        <tr>
            <th scope="row">Kunde</th>
            <td th:text="${missMintOrder.getCustomer()}">Max Mustermann</td>
        </tr>
        <tr>
            <th scope="row">Preis</th>
            <td th:text="${missMintOrder.getTotal()}">1,54€</td>
        </tr>
        <tr>
            <th scope="row">Vorraussichtlicher Fertigstellungstermin</th>
            <td>12.11.2019</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary">Drucken</button>
</div>

<footer th:replace="fragments :: footer"></footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>